
@media screen and (max-width: 50rem) {
	ul.nav-link-wrapper {
    list-style: none;
    display: inline-flex;
    padding: 0 0.4rem;
}
main.cake-modal-info {
    display: flex;
    flex-direction: column;
}
img.cake-modal-img {
    height: 100px;
}
.show-modal {
    transform: translate(-50%, -50%)scale(1);
    width: 90%;
    /* top: 33%; */
    height: fit-content;
    padding-bottom: 4rem;
}
  body {
    /* background-color: lightgreen; */
  }
#page-1 {
	flex-wrap: wrap;
	height: auto;
}
.intro-item.intro-profile {
	display: none;
}
header.about-header {
    flex-wrap: wrap;
    height: fit-content;
}
.intro-item.intro-content-wrapper {
    height: 100vh;
    border-radius: 0;
    background: white;
}
header.cake-modal-name {
    color: var(--p-clr);
    font-size: 2.4rem;
    position: relative;
    z-index: 0;
}
.product-item-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}
.cake-flickity-wrapper{
	overflow:hidden;
}
div#page-21 {
    padding: 0;
}
/* .grid-cake-list { */
    /* height: 100%; */
    /* display: grid; */
    /* grid-template-columns: repeat(1,1fr); */
/* } */
.grid-cake-list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/* .grid-cake-item { */
    /* height: 499px; */
    /* width: 100%; */
    /* position: relative; */
    /* overflow: hidden; */
    /* transition: 0.4s; */
/* } */
.grid-cake-item {
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
}
p.cake-crl-name {
    font-size: 1.5rem;
}
.grid-cake-item:nth-child(3) {
    /* background: rebeccapurple; */
    grid-column: span 2;
}
.grid-cake-item div {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    height: 100%;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    bottom: 0%;
    background: #000000a8;
}
.arrow-right::before,
.arrow-left::before{
	display:none;
}
.about-header-item.social-link-wrapper {
    background-size: cover;
    background-position: center;
    height: 370px;
    padding: 0;
    width: 100vw;
    flex: 0 0 100%;
}
div#page-3  {
    display: none;
}
img.intro-content-img {
    width: 100%;
    padding: 0;
}
.social-link-wrapper > div {
    padding: 0;
    font-size: 0.8rem;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
header.about-header {
    flex-wrap: wrap;
    height: fit-content;
    flex-direction: row;
}
.header-wrapper {
    z-index: 11;
}
.carousel-cell img {
    width: 275px;
    height: 100%;
    position: relative;
    transition: 1s;
    left: 0;
    top: 0;
    transform: scale(0.7);
}
.carousel-cell:hover img {
    transform: scale(1);
    top: 34%;
    left: 0;
}
.carousel-cell:hover .cake-b {
    top: -70%;
    right: 0%;
}
h1.cake-flickity-header {
    position: relative;
    /* right: 0; */
    /* top: 20%; */
    color: #ffffff;
    width: fit-content;
    margin-left: auto;
    text-align: right;
    padding: 1rem;
    background: var(--s-clr);
    border-radius: 0;
    font-size: 4rem;
    line-height: 1.5;
}
.grid-cake-wrapper h1 {
    position: relative;
    left: 0;
    color: #ffffff;
    width: fit-content;
    text-align: right;
    padding: 1rem;
    background: var(--s-clr);
    border-radius: 0 0;
    font-size: 4rem;
    text-align: start;
    line-height: 1.5;
}
}
